body {
    margin: 0;
    overflow-x: hidden;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
}

.plane {
    min-width: 100%;
    min-height: 100vh;
}

.full-width {
    width: 100%;
    height: 100%;
    background-color: #002D5D;
    opacity: .67;
    z-index: 2;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.take-me-home-button {
    border: 1px solid #FABA01; 
    border-radius: 10px; 
    padding: 16px 100px; 
    color: #FABA01;
    font-family: sans-serif;
}

.take-me-home-button:hover {
    background-color: #FABA01;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .responsive-width{
        width: 90%;
    }
    .res-margin {
        margin: 16px 16px 16px 16px;
    }
    
    .board-1st {
        margin-bottom: -90px;
    }
    .logo {
        margin: -18px;
        width: 120px;
    }
    .subscribe-form {
        margin: 0;
    }
    .tmh-h1 {
        font-size: 30px;
    }
    .tmh-p {
        font-size: 16px;
    }
    .message{
        width: 70px;
        height: 70px;
    }
    .subs-text {
        margin-top: 30px;
        font-size: 16px;
    }
    .input {
        width: 100%;
        height: 40px;
        border: 1px solid white;
        border-radius: 10px;
        padding: 8px 15px;
    }
    
    .input-email {
        width: 100%;
        height: 40px;
        border: 1px solid white;
        border-radius: 10px;
        padding: 8px 15px;
    }
}

@media (min-width: 600px) and (max-width:900px) {
    .responsive-width{
        width: 80%;
    }
    .res-margin {
        margin: 0 0 24px 24px;
    }
    .res-board {
        display: flex; 
        justify-content:space-between; 
        flex-direction: row-reverse;
    }
    .board-1st {
        width: 50%; 
    }
    .board-2nd {
        width: 60%; 
    }
    .logo {
        margin: -16px;
        width: 120px;
    }
    .subscribe-form {
        margin: 30px;
    }
    .tmh-h1 {
        font-size: 36px;
    }
    .tmh-p {
        font-size: 18px;
    }
    .message{
        width: 85px;
        height: 85px;
    }
    .subs-text {
        margin-top: 35px;
        font-size: 18px;
    }
    .input {
        width: 100%;
        height: 45px;
        border: 1px solid white;
        border-radius: 10px;
        padding: 8px 18px;
    }
    
    .input-email {
        width: 100%;
        height: 45px;
        border: 1px solid white;
        border-radius: 10px;
        padding: 8px 18px;
    }
}

@media (min-width: 900px) {
    .responsive-width{
        width: 60%;
    }
    .res-margin {
        margin: 16px 0 36px 36px;
    }
    .res-board {
        display: flex; 
        justify-content:space-between; 
        flex-direction: row-reverse;
    }
    .board-1st {
        width: 65%; 
    }
    .board-2nd {
        width: 35%; 
    }
    .logo{
        width: 160px;
    }
    .subscribe-form {
        margin: 30px 50px;
    }
    .boat {
        position: absolute;
        top: -140px;
        right: -100px;
    }
    .mail {
        position: absolute;
        top: -100px;
    }
    .tmh-h1 {
        font-size: 40px;
    }
    .tmh-p {
        font-size: 20px;
    }
    .message{
        width: 90px;
        height: 90px;
    }
    .subs-text {
        margin-top: 40px;
        font-size: 20px;
    }
    .input {
        width: 100%;
        height: 50px;
        border: 1px solid white;
        border-radius: 10px;
        padding: 8px 20px;
    }
    
    .input-email {
        width: 100%;
        height: 50px;
        border: 1px solid white;
        border-radius: 10px;
        padding: 8px 20px;
    }
}



.button {
    width: 100%;
    height: 50px;
    border: 1px solid #FABA01;
    border-radius: 10px;
    padding: 8px 20px;
    background-color: #FABA01;
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
    color: black;
}

.button:hover {
    background-color: #edb200;
    color: #fff;
    cursor: pointer;
}